/**********  **********/
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/********** GRID **********/
.grid-layout {
    display: grid;
    grid-template-areas: 'cabecera cabecera'
        'menu menu'
        'lateral contenido'
        'footer footer';

    /* Modifica el tamaño de la fila*/
    grid-template-rows: 20% 10% auto 10%;
}

.cabecera {
    grid-area: cabecera;
    height: 200px;
}

/********** Article  **********/
section {
    grid-area: contenido;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/********** Títulos **********/

h1 {
    font-size: 6em;
    color: rgb(0, 21, 255);
    margin-left: 1em;
    margin-bottom: 2em;
}

h2 {
    font-size: 3em;
    margin-left: 2em;
    margin-top: 4em;
}

h3 {
    font-size: 2em;
    margin-left: 600px;
}

h4 {
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
}

/********** Párrafos **********/
p {
    font-size: 2em;
}

/* Añade el texto «- FIN» al final del párrafo con id «este». */
p#este::after {
    content: " - Fin";
}

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');

div p.parrafos {
    font-family: Sono;
    margin-left: 6em;
    margin-right: 6em;
    text-align: justify;
}


p#este {
    color: #ff0000;
    text-align: center;
    line-height: 2em;
}

/* ::first-letter*/
p#este::first-letter {
    font-size: 3em;
    color: orange;
}

/********** Listas **********/


ul#lista1>li {
    list-style-type: square;
    font-size: 2em;
    margin-left: 600px;
}

ul#lista1>li#nave {
    list-style-image: url(https://api.iconify.design/mdi/rocket.svg);
}

ul#lista1 li:nth-child(odd) {
    color: crimson;
}

/* Altura de las listas*/
li {
    line-height: 2em;
}

li.ocultar {
    display: none;
}

ol#lista2 {
    font-size: 2em;
    margin-left: 600px;
}

/********** Menú **********/

/* MENU HORIZONTAL*/

menu#horizontal {
    grid-area: menu;
    background-color: rgb(251, 0, 100);
    font-size: 2rem;
    padding: 50px;
    width: 100%;
    margin-top: 0;
}

menu#horizontal nav ul li {
    display: inline;
}

nav ul li {
    list-style: none;
}

menu#horizontal nav>ul>li>a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 100;
    text-decoration: none;

}

/* MENU VERTICAL*/
menu#menu {
    grid-area: lateral;
    margin: 2em;
    padding: 1em;
    border: solid red 2px;
    float: left;
    font-size: 2rem;
}

menu#menu nav ul li::first-letter {
    font-size: 150%;
}

menu#menu nav ul li:nth-child(odd) {
    background-color: red;
}

menu#menu nav ul li a:hover {
    border-left: solid #0c9507 20px;
}

#menu nav ul li:nth-child(even) {
    background-color: blue;
}


/* :hover */
a:hover {
    background-color: aqua;
}

/********** Tablas **********/

table {
    font-size: 1.5em;
    border-collapse: collapse;
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

table th {
    font-size: 1.5em;
    color: blue;
}

table td {
    border: 3px solid rgba(8, 72, 161);
}

table td#vacia {
    border: none;
}

/* Pseudo-clase :first-child */
td:first-child {
    color: #e101fa;
    font-weight: bolder;
}

/********** Enlaces **********/

span.enlaces {
    font-size: 1.5em;
}


/********** Footer **********/
footer {
    grid-area: footer;
}

/********** Otros **********/

div.articulos {
    margin-left: 3em;
}

#caja1 {
    margin-top: 10em;
    margin-bottom: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    border-right: 4px solid #070995;
    border-left: 4px solid #070995;
    width: 500px;
    text-align: center;
}

/********** Media queries **********/